## Arquivos auxiliares do motor do LaTeX (pdflatex, xelatex, etc)
*.aux
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.out
*.snm
*.toc
*.vrb
*.synctex.gz
*.synctex(busy)

## Documentos intermediários e temporários
*.dvi
*.xdv
*.bak
*.sav
*.tmp

## Arquivos de bibliografia (BibTeX/Biber)
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## O PDF final (Mantenha comentado com # se quiser que o PDF suba para o GitHub)
*.pdf

## Pastas de cache de editores
.texpadtmp/
_minted*/
.vscode/
